.landing {
    background-image: 
        linear-gradient(-4deg, rgba(255,222,122,0.89) 0%, rgba(0,0,0,0.85) 18%, rgba(0,0,0,0.87) 89%, rgba(0,0,0,0.95) 100%),
        url("../../../assets/images/BG.png");
    height: 100vh;
    width: 100vw;
}
.dln {
    height: 30vmin;
}