#landing {
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: 
    // linear-gradient(180deg, rgba(255,222,122, .50) 2%, rgba(255,122,0, .50) 7%, rgba(0, 0, 0, 0.75) 14%, rgba(0,0,0,0.92) 60%,rgba(0,0,0,0.92) 86%, rgba(0,0,0,0.95) 100%),
    url("../../../assets/images/water-color-background.png");
    transform: rotate(180);
    background-size: cover;
    background-position: bottom;
}

.first-name {
    padding: 4vmin;
    padding-left: 5vw;
}

.dylan-imgs {
    height: 40vh;
    max-width: 14vw;
    max-height: 18vw;
    transition: 2.5s;
}

.dylan-n {
    transform: rotate(180deg);
}

.seccond-name {
    padding: 4vmin;
    padding-top: 2vh;
    text-align: center;
}

.anley {
    min-height: 34vh;
    padding-left: calc(40px + 20vmin);
    margin-top: 10vh;
}

.manley-imgs {
    width: 12vw;
}

.manley-img-m {
    height: 39vh;
    position: absolute;
    bottom: 6vh;
    left: 6%;
    margin-top: 2vmin;
}

.manley-img-a {
    height: 24vh;
}

.manley-img-l {
    height: 25vh;
}
.manley-img-y {
    height: 26vmin;
}
.manley-img-n {
    height: 23vmin;
    transform: rotate(180deg);
}

.manley-img-e {
    height: 24vmin;
}

.letters {
    padding-top: 20vh; 
    padding-left: 15vw;
}

@media only screen and (max-width: 1460px) {
    .manley-img-m {
        height: 26vmin;
        top: 46%;
        left: 3%;
    }
}

@media only screen and (max-width: 1025px) {
    .manley-img-m {
        height: 23vmin;
        top: 15%;
        left: 43%;
    }
    .manley-img-l {
        height: 24vmin;
    }
}

@media only screen and (max-width: 490px) {
    .anley {
        position: absolute;
        width: 50vw;
        right: 20vw;
    }
    .manley-img-a {
        height: 90px;
    }
    .manley-img-l {
        height: 90px;
    }
    .dylan-imgs {
        max-width: 20vw;
        max-height: 24vw;
    }
    .manley-img-m {
        height: 26vmin;
        top: 15%;
        left: 43%;
    }
}


