.container {
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  overflow: visible;
}

.bar1,
.bar2,
.bar3 {
  width: calc(3px + 7vmin);
  height: calc(0.6vmin + 2px);
  margin: 1vmin 0;
  z-index: 1;
}

.bar1:hover,
.bar2:hover,
.bar3:hover {
  background-color: #96705B;
}

.bar1 {
  background-color: grey;
  transition: 0.4s;
}

.bar2 {
  background-color: #333333;
  transition: 0.4s;
}

.bar3 {
  background-color: black;
  height: calc(0.4vmin + 3px);
  transition: 1s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: black;
  height: calc(0.4vmin + 2px);
  z-index: 1;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
  height: calc(0.4vmin + 2px);
}

#nav-bar {
  padding: 0.5em;
}

.drawer {
    height: calc(320px + 5vmin);
}

.link-p {
  padding: 0;
}


.link {
  cursor: pointer;
  padding-top: 4px;
  color: #92BFB1;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: calc(12px + 2.2vmin);
  overflow: visible;
  text-decoration: none;
  transition: color 1s;
//   text-shadow: .5px .7px #DAD6D6;
}

.link:hover {
  color: #96705B;
}

.code {
  color: #172722;
}

.home {
  color: #CCE1DA;
}

@media only screen and (min-width: 1000px) {
  .drawer {
    margin-left: 40%;
  }
}