.collapse-col {
  padding-top: 5px;
}

  .header {
    position: fixed;
    z-index: 1;
    top: 0;
    background-color:  rgb(255,222,122);
    color: #D2E8CC;
    height: 20px;
    padding-top: 0px;
    width: 100%;
    display: inline-flex;
    text-align: center;
  }
