#code {
    background-image: 
        linear-gradient(180deg, rgba(133,155,255,0.99) 0%, rgba(0,0,0,0.85) 10%, rgba(0,0,0,0.87) 92%, rgba(133,155,255,0.95) 100%),
        url("../../../assets/images/BG.png");
    background-size: cover;
    background-position-y: bottom;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}
.code-body {
    margin: 3vmin;
    padding-top: calc(120px + 10vmin);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.card {
    padding: 2.5vmin;
}
h1.code-title {
  position: relative;
  z-index: 1;
  top: 10vh;
  left: 80vw;
  color: white;
  font-size: 7vmin;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  width: 200px;
}
@media only screen and (max-width: 1105px) {
    .code-body {
      grid-template-columns: auto auto;   
    }
    h1.code-title {
      top: 10vh;
      right: 3vw;
    }
}

@media only screen and (max-width: 932px) {
  .card {
    padding: 2px;   
  }
  h1.code-title {
    top: 10vh;
    right: 3vw;
  }
}

@media only screen and (max-width: 838px) {
  .code-body {
    grid-template-columns: auto;   
  }
  h1.code-title {
    top: 0;
    right: -2vw;
  }
  .card {
    padding: 2.5vmin;
  }
}

@media only screen and (max-width: 750px) {
    .code-body {
      grid-template-columns: auto;    
    }
    .card {
      
      padding-left: 0; 
    }
    h1.code-title {
      top: 150px;
      left: 0;
      padding-left: 20px;
    }
}