#code {
    background-image: 
        linear-gradient(180deg, rgba(255,222,122,0.99) 8%, rgba(0,0,0,0.85) 16%, rgba(0,0,0,0.87) 89%, rgba(0,0,0,0.95) 100%),
        url("../../../assets/images/BG.png");
    background-size: cover;
    background-position-y: bottom;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.code-body {
    margin-top: calc(120px + 10vmin);
    padding: 10px;
    display: grid;
}

.card {
    padding-top: 5vmin;
}