.roboto {
    font-family: 'Roboto';
}
a:link {
    text-decoration: none;
    color: red;
    font-weight: 700;
}
a:visited {
    color: darkblue;
}
a:hover {
    transition: 1s;
    color: #96705B;
}