.roboto {
    font-family: 'Roboto';
}
a:link {
    text-decoration: none;
    color: red;
    font-weight: 700;
}
a:visited {
    color: darkblue;
}
a:hover {
    transition: 1s;
    color: #1F6F6A;
}
p, h2 {
    font-family: 'Roboto';
    background-color: whitesmoke;
    padding: 2vmin;
}
.card-p {
    word-wrap: break-word;
}