#home {
    background-image: 
        linear-gradient(180deg, rgba(255,222,122, .50) 2%, rgba(255,122,0, .50) 7%, rgba(0, 0, 0, 0.75) 14%, rgba(0,0,0,0.92) 60%,rgba(0,0,0,0.92) 86%, rgba(0,0,0,0.95) 100%),
        url("../../../assets/images/noise-yelo.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: scroll;
    // top: 65px;
    text-align: center;
}

.home-grid {
    margin: 10vmin;
    margin-top: calc(140px + 10vmin);
    display: grid;
    grid-template-columns: auto auto auto;
}

.g-itm {
    margin: 1vmin;
    // width: 25vw;
}

.resume {
    width: 28vw;
}
#github {
    width: 27vw;
}
.github {
    width: 29vw;
    border-radius: 10%;
    background-color: white;
    padding: 15px;
}

.programing {
    width: 30vw;
    border-radius: 10%;
}
.personal {
    width: 26vw;
}
a:link {
    text-decoration: none;
    color: #92BFB1;
}
  a:visited {
      color: grey;
}
.reveal:hover {
    transition: 1s;
    color: #96705B;
}
.reveal {
    font-size: 5vmin;
    font-family: 'Roboto';
}

@media only screen and (max-width: 1200px) {
    .home-grid {
        grid-template-columns: auto auto;
    }
    .github {
        margin-left: 70%;
    }
    .reveal-g {
        padding-left: 20vw;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 440px) {
    .home-grid {
        grid-template-columns: auto;
    } 
    .github {
        margin-left: 22vw;
    }
}