#home {
    background-image: 
    linear-gradient(180deg, rgba(0,63,122, .50) 8%, rgba(234,195,200, .70) 13%, rgba(209, 123, 136, 0.75) 20%, rgba(137,6,32,.92) 60%,rgba(0,0,0,0.92) 86%, rgba(0,0,0,0.95) 100%),
    url("../../../assets/images/red-noise.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    overflow: scroll;
}
.home-grid {
    margin: 10vmin;
    margin-left: 1vmin;
    margin-top: calc(140px + 10vmin);
    display: grid;
    grid-template-columns: auto auto auto auto;
}
a:link {
    text-decoration: none;
    color: #92BFB1;
}
a:visited {
      color: grey;
}
.g-itm {
    margin: 1vmin;
}
.resume {
    width: 22vw;
    background-color: white;
    border-radius: 15%;
    border: solid black 1px;
}
.programing {
    width: 24vw;
    border-radius: 10%;
}
.personal {
    width: 21vw;
}
.github {
    width: 22vw;
    border-radius: 10%;
    background-color: white;
padding: 15px;
}
.reveal:hover {
    transition: 1s;
    color: #1F6F6A;
}
.reveal {
    font-size: 5vmin;
    font-family: 'Roboto';
}
.reveal-g {
    position: absolute;
    right: -35vw;
}

@media only screen and (max-width: 1501px){
    .home-grid {
      grid-template-columns: auto auto auto;
      margin-left: 5vmin;
    }
    .resume {
        width: 28vw;
    }
    .programing {
        width: 30vw;
    }
    .personal {
        width: 26vw;
    }
    .github {
        width: 27vw;
        margin-left: 100%;
        background-color: white;
    }
    .reveal-g {
        right: 0;
    }
}

@media only screen and (min-width: 1201px){
    .reveal-g {
        padding-left: 100%;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .home-grid {
        grid-template-columns: auto auto;
    }
    .github {
            margin-left: 0;
        }
    .resume {
        background-color: transparent;
        border-radius: 15;
        border: solid black 1px;
    }
    .reveal-g {
        position: relative;
    }
}
@media only screen and (max-width: 440px) {
    .home-grid {
        grid-template-columns: auto;
        margin-top: calc(100px + 10vmin);
        margin-bottom: 100px;
    } 
    .github {
        background-color: transparent;
    }
    .resume {
        background-color: white;
        border-radius: 15%;
        border: solid black 1px;
    }
}