#home {
    background-image: 
        linear-gradient(180deg, rgba(255,222,122, .50) 2%, rgba(255,122,0, .50) 7%, rgba(0, 0, 0, 0.75) 14%, rgba(0,0,0,0.92) 60%,rgba(0,0,0,0.92) 86%, rgba(0,0,0,0.95) 100%),
        url("../../../assets/images/noise-yelo.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 65px;
}

#home-top {
    position: fixed;
    left: 35vw;
    margin-top: 100px;
}


.home-grid {
    margin-top: 140px;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto auto;
}

.g-itm {
    width: 31vw;
}

.resume {
    width: 28vw;
}
.github {
    width: 30vw;
}
.linkedin {
    width: 33vw;
}