#footer {
    background-color: black;
    color: #003F7A;
    display: inline-block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    font-family: 'Roboto';
    text-align: center;
}
h5 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
}