#footer {
    background-color: black;
    color: rgba(255,222,122,0.89);
    display: inline-block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%
}
h5 {
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
}