#art {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: black;
}
.music{
    margin-top: calc(120px + 5vmin);
}
.videos {
    padding-top: 40px;
}
.youtube {
    margin-left: 25%;
}
.video {
    margin-top: 20px;
    width: 50vw;
    max-height: 50vw;
    border-radius: 5%;
}

// @media only screen and (max-width: 900px) {
//    .video{
//        height:
//    }
// }