#art {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-image:
        linear-gradient(89deg, rgba(20,83,20,.5) 0%, rgba(133,155,255,.5) 2%, rgba(31,111,106,.5) 53%, rgba(104,71,86,.5) 79%, rgba(20,83,20,.5) 93%, rgba(133,155,255,.5) 100%),
        url('../../../assets/images/green-noise.png');
}
.music{
    margin-top: calc(120px + 5vmin);
}
.videos {
    padding-top: 40px;
    padding-bottom: 50px;
}
.youtube {
    margin-left: 25%;
}
.video {
    margin-top: 20px;
    width: 50vw;
    max-height: 50vw;
    border-radius: 5%;
}
.audio {
    align-content: center;
    padding: 60px calc( 10px + 2vmin);
    padding-bottom: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}
.soundcloud {
    padding: 4px;
    padding-top: 25px;
    min-width: 300px;
}

@media only screen and (max-width: 1250px) {
    .audio {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 840px) {
    .audio {
        padding-top: 25px;
        grid-template-columns: auto;
        padding-left: calc( 23vw + 35px );
    }
}
@media only screen and (max-width: 500px) {
    .audio {
        padding: 0;
        padding-left: 12px;
        justify-content: center;
    }
}